body{
    /* background-image: url(bg-flower01.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    background: #333;

}
p{
    color:#fff;
    text-align: center;
    font-size: 25px;
    
}
h1{
    color:#fff;
    font-size: 30px;
    text-align: center;

}